
.DS_Store
.metals/metals.log
Assignments/Lab1/.ipynb_checkpoints/sparkml_lab-checkpoint.ipynb
Assignments/Lab1/.metals/metals.h2.db
Assignments/Lab1/.metals/metals.log
Assignments/Lab1/.vscode/settings.json
Project/.DS_Store
Review-Questions/.DS_Store
Review-Questions/RQ5/.DS_Store
